@{
    ViewBag.Title = "Kontakter";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Telefon:</h3>
    </header>
</section>

<section class="contact">
    <header>
        <h3>E-post:</h3>
    </header>
    <p>
        <span class="label">Invitasjon:</span>
        <span><a href="mailto:invitasjon@torsdagskino.no">Support@example.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Addresse:</h3>
    </header>
    <p>C/O Bergen Kino, Bergen, Norge</p>
</section>