@{
    ViewBag.Title = "Hjemmeside";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>Foreningen scorer sin første rene sekser</h1>
            <h2>To ganger på rad har nå snitt score på en film vært 6</h2>
        </hgroup>
        <p>
        </p>
    </div>
</section>
}

<h3>We suggest the following:</h3>

<ol class="round">
    <li class="one">
        <h5>Velkommen til Torsdagsforeningen</h5>
        <p>Vi går på kino.</p>
    </li>
    <li class="two">
        <h5>Torsdagsforeningen - avd. Bekkalokket (ny)</h5>
        <p>Innimellom bytter vi ut kino med Bekkalokket foto klubb.</p>
    </li>
</ol>

<section class="features">
    <section class="feature">
        <h3>Hvor</h3>
        <p>Vi holder til i Bergen og møtes på Bergen Kino</p>
    </section>
    <section class="feature">
        <h3>Siste filmer</h3>
        <p></p>
    </section>
    <section class="feature">
        <h3>Årets xxxxx</h3>
        <p></p>
    </section>
</section>